@keyframes slideGrow {
  from {
    transform: translateX(-60px) scale(0.9);
    opacity: 0;
  }

  to {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}

.box {
  width: 200px;
  padding: 20px;
  background-color: #ffa200;
  border-radius: 10px;
  animation: slideGrow 600ms ease-out;
}